<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <!-- write your stuff here! -->
    <h2>Post detail:</h2>
    <table class="table table-striped table table-bordered">
        <tr>
            <td><label>title</label></td>
            <td>
                <p class="form-control-static" th:text="${post.getTitle()}"></p>
            </td>
        </tr>

        <tr>
            <td><label>Body</label></td>
            <td>
                <p class="form-control-static" th:text="${post.getBody()}"></p>
            </td>
        </tr>

        <tr>
            <td><label>Last update</label></td>
            <td>
                <p class="form-control-static" th:text="${post.getPublicationDate()}"></p>
            </td>
        </tr>

        <tr>
            <td><label>Author</label></td>
            <td>
                <p class="form-control-static" th:text="${user.getAlias()}"></p>
            </td>
        </tr>

    </table>


</div> <!-- /container -->
<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

</body>
</html>