<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h1>All posts <a class="btn btn-lg btn-success" href="#" th:href="@{/posts/create}" role="button">Create Post</a>
    </h1>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th><label>Title</label></th>
                <th><label>Body</label></th>
                <th><label>Read</label></th>
                <th><label>Author</label></th>
                <th><label>Read Comments</label></th>
                <th><label>Update</label></th>
                <th><label>Delete</label></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td th:text="${post.getTitle()}"></td>
                <td th:text="${post.getBody()}"></td>
                <td><a th:href="${ '/posts/read/' + post.getId()}"><i class="fa fa-search" aria-hidden="true"></i></a>
                </td>
                <td><a th:href="${ '/users/read/' + post.getAuthorId()}"><i class="fa fa-user" aria-hidden="true"></i></a></td>
                <td><a th:href="${ '/comments/findbypostid/' + post.getId()}"><i class="fa fa-comments" aria-hidden="true"></i></a></td>

                <td><a th:href="${ '/posts/update/' + post.getId()}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                </td>
                <td><a id="delete" th:href="${ '/posts/delete/'+post.getId()}"
                       onclick="javascript: return confirm('Are you sure?')"><i class="fa fa-times"
                                                                                aria-hidden="true"></i></a></td>
            </tr>
            </tbody>
        </table>
    </div>


</div> <!-- /container -->
<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

</body>
</html>


