<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <!-- write your stuff here! -->
    <h2>Comment detail:</h2>
    <table class="table table-striped table table-bordered">
        <tr>
            <td><label>Comment</label></td>
            <td>
                <p class="form-control-static" th:text="${comment.getBody()}"></p>
            </td>
        </tr>

        <tr>
            <td><label>Last update</label></td>
            <td>
                <p class="form-control-static" th:text="${comment.getPublicationDate()}"></p>
            </td>
        </tr>
    </table>
    <button type="button" onclick="javascript:history.back()">Back</button>


</div> <!-- /container -->
<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

</body>
</html>