<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h1>All comments    <a class="btn btn-lg btn-success" href="#" th:href="@{/comments/create}" role="button">Create Comment</a></h1>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th><label>Id Author</label></th>
                <th><label>Id Post</label></th>
                <th><label>Body</label></th>
                <th><label>Details</label></th>
                <th><label>Delete</label></th>
                <th><label>Author</label></th>
                <th><label>Post</label></th>


            </tr>
            </thead>
            <tbody>
            <tr th:each="comment : ${comments}">
                <td th:text="${comment.getAuthorId()}"></td>
                <td th:text="${comment.getPostId()}"></td>
                <td th:text="${comment.getBody()}"></td>
                <td><a th:href="${ '/comments/read/' + comment.getId()}"><i class="fa fa-search" aria-hidden="true"></i></a></td>
                <td><a th:href="${ '#'}"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                <td><a th:href="${ '/users/read/' + comment.getAuthorId()}"><i class="fa fa-user" aria-hidden="true"></i></a></td>
                <td><a th:href="${ '/posts/read/' + comment.getPostId()}"><i class="fa fa-newspaper-o" aria-hidden="true"></i></a></td>

            </tr>
            </tbody>
        </table>
    </div>


</div> <!-- /container -->
<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

</body>
</html>


