<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container" th:fragment="header">
    <div class="masthead">
        <h3 class="text-muted">Random Blog</h3>

        <nav class="navbar navbar-expand-md navbar-light bg-light rounded mb-3">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav text-md-center nav-justified w-100">

                    <li class="nav-item active">
                        <a class="nav-link" href="#" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/users/}">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/posts/}">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/comments/}">Comments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div> <!-- /container -->
</body>
</html>