<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <div class="container">
        <h3 class="text-muted">Create a user</h3>

        <div class="row justify-content-md-left">
            <div class="col col-lg-4">
                <div id="errors" style="display: none;" class="alert alert-danger"></div>
                <form id="formUser" th:object="${user}" action="/users/create" th:action="@{'/users/create'}" method="POST">

                    <div class="form-group">
                        <label for="alias">Alias</label>
                        <input name="alias" type="text" class="form-control" id="alias" th:field="*{alias}" placeholder="Alias" required="required"/>
                    </div>

                    <div class="form-group">
                        <label for="first_name">First Name</label>
                        <input name="first_name" type="text" class="form-control" id="first_name" th:field="*{firstName}" placeholder="First Name" required="required"/>
                    </div>

                    <div class="form-group">
                        <label for="last_name">Last Name</label>
                        <input name="last_name" type="text" class="form-control" id="last_name" th:field="*{lastName}" placeholder="Last Name" required="required"/>
                    </div>

                    <div class="form-group">
                        <label for="email">Last Name</label>
                        <input name="email" type="email" class="form-control" id="email" th:field="*{email}" placeholder="email@example.com" required="required"/>
                    </div>

                    <div class="form-group">
                        <label for="bio">Bio</label>
                        <input name="bio" type="text" class="form-control" id="bio" th:field="*{bio}" placeholder="My bio" required="required"/>
                    </div>

                    <button id="save" type="submit">Save</button>
                    <button type="button" onclick="javascript:history.back()">Back</button>
                </form>

            </div>
        </div>


    </div>


</div> <!-- /container -->
<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
<script src="user.js"></script>
</body>
</html>