<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->


<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <!-- write your stuff here! -->
    <h1>No Data </h1>
    <label>There is no data corresponding to your search.</label>
    <button type="button" onclick="javascript:history.back()">Back</button>
</div> <!-- /container -->

<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

</body>
</html>