<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->


<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <!-- write your stuff here! -->
    <h1>In comments</h1>

    <form class="form-inline my-2 my-lg-0">
        <!-- <label>By author id</label> -->
        <input class="form-control mr-sm-2" type="text" placeholder="Search by alias"/>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <form class="form-inline my-2 my-lg-0">
        <!-- <label>By author alias</label> -->
        <input class="form-control mr-sm-2" type="text" placeholder="Search by alias"/>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <form class="form-inline my-2 my-lg-0">
        <!-- <label>By post id</label> -->
        <input class="form-control mr-sm-2" type="text" placeholder="Search by first name"/>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

</div> <!-- /container -->
<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

</body>
</html>