<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->


<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <!-- write your stuff here! -->
    <h1>In comments</h1>

    <form class="form-inline my-2 my-lg-0" th:object="${user}" th:action="@{'/comments/findbyauthorid/'}" method="POST">
        <!-- <label>By author id</label> -->
        <input class="form-control mr-sm-2" type="text" id="id" th:field="*{id}" placeholder="Search by author id"/>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <form class="form-inline my-2 my-lg-0" th:object="${user}" th:action="@{'/comments/findbyalias/'}" method="POST">
        <!-- <label>By author alias</label> -->
        <input class="form-control mr-sm-2" type="text" id="alias" th:field="*{alias}" placeholder="Search by author alias"/>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <form class="form-inline my-2 my-lg-0" th:object="${post}" th:action="@{'/comments/findbypostid/'}" method="POST">
        <!-- <label>By post id</label> -->
        <input class="form-control mr-sm-2" type="text" id="id" th:field="*{id}" placeholder="Search by post id"/>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>



</div> <!-- /container -->
<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

</body>
</html>